*{
    margin: 0 auto;
    padding: 0 auto;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav{
    width: 1360px;
    /* border: 1px solid red; */
    margin-top: 16px;  
    box-sizing: border-box;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-size: 50px;
    font-weight: 900px;
    color: #469150;
}

.list{
    width: 845px ;
    /* border: 1px solid   yellow; */
    display: flex;
    list-style-type: none;

}
.btn{
    padding: 12px 16px 12px 16px;
    background-color: #469165;
    border-radius: 5px;
    border: none;
    color: azure;
}
.banner-img{
    background: url(assets/hero-bg.png);
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
width: 1360px;
height: 379px;
display: flex;
flex-direction: column;
padding:115px 120px 180px ;
}
.banner-heading{
    font-size: 16px;
    color: #469165;
    padding: 8px 12px 14px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 20px;
}
.bhh{
    padding-top: 16px;
    font-size: 51px;
    color: azure;
}
.sph{
    color: #469165;
}
.pg{
    color: azure;
}
.butt{
    padding-top:32px ;
    display: flex;
    gap: 16px;
    padding: 16px 10px ;
    border: none;
    border-radius: 4px;
}
.fst{
    background-color: #469165;
    padding: 12px 16px 12px 16px;
}
.snd{
    color: black;
    padding: 12px 16px 12px 16px;
}

/* banner section */

.note-container{
    padding-top: 30px;
    width: 1260px;
    margin: 0 auto;
}
.note-heading{
    margin: 0 auto;
    text-align: center;
}
.note-heading .nhh2{
    font-size: 48px;
}

.note-box{
    padding-top: 44px;
    display: flex;
    gap: 24px;
}
.note-card{
    padding: 70px 24px 21px;
    /* border: 1px solid red; */
    max-width: 322px;
    box-shadow: 0 8px 20px 0 #000000;

}
.note-card img{
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background-color: #F95555;
    border-radius: 40px;
    padding:14px 13px;
    
}
.note-card h3{
    font-size: 24px;
    text-align: center;
}
.note-card p{
    line-height: 20px;
    align-items: center;
    color:#627382 ;
    font-size: 16px;
}

 /* Second-Brain-Section */

 .Second-Brain-Section{
    margin: 120px 120px 120px 120px;
    display: flex;
    /* border: 1px solid red; */
 }

 .section-detail{
    margin: 102px 0px 120px 60px;
 }
 .section-detail-heading{
    font-size: 48px;
    color: #001931;
    padding-top: 16px;
 }
 .section-detail p{
    line-height: 20px;
    color: #627382;
 }
 .section-detail-menu{
    padding-top: 40px;
    list-style-type: none;
    text-align:justify;
 }
 .Early-Access-Section{
    margin: 120px 120px 120px 120px;
    text-align: center;
    background-color: #F7F6F2;
    width: 1260px;
    height: 384px;
 }

.Early-Access-Section h1{
    padding-top: 80px;
    font-size: 40px;
}
.Early-Access-Section p{
    color: #627382;
}
.bt{
    margin-top: 24px;
    padding: 12px 16px 12px 16px;
    background-color: #469165;
    border-radius: 5px;
    border: none;
    color: azure;
    text-align: center;
}
.easp{
    padding-top: 16px;
    color: #627382;
}
footer{
    height: 248px;
    background-color: #001931;
}
#last{
   padding: 100px;
   display: flex;
   height: 44px;
}
.info{
    display: flex;
    padding: 0 auto;
    margin: 0 auto;
    border: 120px 120 120 120 ;
    padding: 
}